.select-page {

  & {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    justify-content: space-between;
    align-items: start;
  }

  .form {
    // width: 45%;
    // max-width: 50%;
    flex-grow: 1;

    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: flex-start;
    align-items: center;

    &>.MuiBox-root {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: flex-start;
      align-items: center;

      .MuiTextField-root {
        flex-grow: 1;
        min-width: 120px;

        input {
          padding: 5px;
        }
      }

      .MuiSelect-root {
        width: 110px;

        .MuiSelect-select {
          padding: 10px;
          padding-right: 30px;
        }
      }
    }

    // .join-clause {
    //   display: flex;
    //   flex-direction: column;
    //   row-gap: 5px;
    //   justify-content: flex-start;
    //   align-items: center;

    //   &>.MuiBox-root {
    //     width: 100%;
    //   }

    //   .MuiFormControlLabel-root {
    //     margin-right: 0;

    //     .MuiTypography-root {
    //       white-space: nowrap;
    //       width: fit-content;
    //     }
    //   }
    // }
  }

  .response {
    width: 45%;
    flex-grow: 1;

    &>* {
      margin: 0 auto;
    }
  }
}