.available-tables-page {
  & {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
  }

  &>.MuiPaper-root {
    min-width: 700px;
    width: 75%;
    max-width: 775px;

    .MuiTypography-root {
      width: fit-content;
      margin: 0 auto;
    }

    .MuiTableContainer-root {
      min-width: 700px;
      width: 100%;
      max-width: 775px;
    }
  }
}