.insert-page {
  & {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    width: 48%;

    &>.MuiBox-root {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: flex-start;
      align-items: center;

      .MuiTextField-root {
        flex-grow: 1;
        flex-shrink: 3;
        min-width: 120px;
      }

      .MuiFormHelperText-root {
        margin: 0 5px;
        color: red;
      }

      .MuiSelect-root {
        width: 170px;

        .MuiSelect-select {
          padding: 10px;
          padding-right: 30px;
        }
      }
    }
  }

  .response {
    width: 48%;

    &>* {
      margin: 0 auto;
    }
  }
}