* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  #home {
    width: 100%;
    height: 100vh;

    #content {
      width: 100%;
      padding: 25px;
    }
  }

  .navbar {
    width: 100%;

    .MuiToolbar-root {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
    }
  }
}